<style>
  #incident_location {
    list-style-type: none;
  }
</style>

<div class="modal fade" id="contact_modal" tabindex="-1" aria-labelledby="incident_reporting_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="incident_reporting_modal_label">דיווח תאונה</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
             <span > "מספר הקו: "</span>
            <span id="bus_line_number_incident"></span>
              <span > " , "</span>
              <span id="route_long_name_incident"></span>

          </div>
          <div class="mb-3">
            <label for="incident_location" class="form-label">מיקום התאונה: </label>
            <button class="btn btn-primary" type="button" onclick="getLocation()">איתור GPS</button>
          </div>
          <div class="mb-3">
            <label for="incident_details" class="form-label">פרטי התאונה: </label>
            <textarea class="form-control" id="incident_details" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="incident_photos" class="form-label">תמונות התאונה: </label>
            <input class="form-control" type="file" id="incident_photos" multiple>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">בטל</button>
        <button type="button" class="btn btn-primary" onclick="submitIncidentReport()">שלח</button>
      </div>
    </div>
  </div>
</div>
